@page
@model IndexModel
@{
    ViewData["Title"] = "Homekit Home";
}

<div class="text-center">
    <img src="src/Home_icon.png" alt="Home app icon" height="100" width="100">
    <h1 class="display-4">Your home at your command.</h1>
    <img src="src/homekit_devices.jpg" alt="Homekit Devices" width="800" height="400">
    <p></p>
    <p>With the Home app, you can easily and securely control all your HomeKit accessories. Ask Siri to turn off the lights from your iPhone. See who’s at the front door on your iPad. Adjust your living room temperature from your Mac. Control things remotely with the help of Apple TV. Even tell your HomePod to turn up the music. The Home app makes all your connected devices work harder — and smarter — for you.</p>
</div>
