@page
@model RecommendationsModel
@{
    ViewData["Title"] = "Homekit Recommendations";
}

<div class="text-center">
    <h1 class="display-4">Recommended Homekit Products</h1>
    <img src="src/categories.png" alt="category icons" height="235" width="1000">
    
</div>
