@page
@model RecommendationsModel
@{
    ViewData["Title"] = "Homekit Recommendations";
}

<div class="text-center">
    <h1 class="display-4">Recommended Homekit Products</h1>
    <img src="src/categories.png" alt="category icons" height="215" width="900">
</div>
<p></p>
<div class="row">
    <div class="col-4">
        <h2>Cameras</h2>
        <img src="src/logitechCam.jpeg" alt="Logitech Camera" height="215" width="215">
        <h3>Logitech Circle 2 Indoor/Outdoor Weatherproof Wired Security Camera</h3>
        <h4>$179.95</h4>
        <p>Logitech's Circle 2 Wired Security Camera lets you watch over your house via your iPhone or iPad when you're away. Whether you’re at work or just next door, you'll always know about unexpected household activity in real time with instant smart alerts on your iOS device. You can access Circle 2’s unlimited live streaming, two-way audio, and smart recorded video for the most recent 24 hours anytime and anywhere at no additional cost.</p>
    </div>

    <div class="col-4">
        <h2>Lights & Bulbs</h2>
        <img src="src/hue.jpeg" alt="Philips hue lights" height="215" width="215">
        <h3>Philips Hue White and Color Wireless Ambiance Starter Kit A19 E26</h3>
        <h4>$149.95</h4>
        <p>The Philips Hue Ambiance Starter Kit lets you create your own lighting environment at home using your Apple iOS device. Simply download the Philips Hue app and create customized white and colored light settings that match your activity or mood. This starter kit contains three Hue light bulbs and the Hue bridge.</p>
    </div>

    <div class="col-4">
        <h2>Locks</h2>
        <img src="src/august.jpeg" alt="August smart lock" height="215" width="215">
        <h3>August Smart Lock Pro + Connect</h3>
        <h4>$279.95</h4>
        <p>The August Smart Lock Pro and Connect hub work with your iPhone to turn your front door into a smart door. Use your iPhone to lock and unlock your door from anywhere. Give keyless entry to family and friends, or schedule access for housekeepers and other home services without worrying about lost or copied keys.</p>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <h2>Outlets</h2>
        <img src="src/wemo.jpeg" alt="Wemo smart plug" height="215" width="215">
        <h3>Wemo Mini Smart Plug</h3>
        <h4>$29.95</h4>
        <p>The Wemo Mini Smart Plug lets you control your lights and appliances right from the Wemo or Apple Home app on your iPhone or iPad. The Smart Plug uses your existing home Wi-Fi network to provide wireless control of lamps, heaters, fans, and more—with no subscription or hub required. Simply plug the Wemo Mini Smart Plug into an electrical outlet, plug a device into the Smart Plug, and control your device using the free app.</p>
    </div>

    <div class="col-4">
        <h2>Sensors</h2>
        <img src="src/eve.jpeg" alt="Eve sensor" height="215" width="215">
        <h3>Eve Door & Window Wireless Contact Sensor</h3>
        <h4>$39.95</h4>
        <p>Eve Door & Window can sense whether your door or window is open or closed and share that data with the app on your iPhone or iPad. Equip it to automatically control other HomeKit-enabled accessories throughout your home. And receive notifications while you’re on the go, courtesy of your ever-present home hub.</p>
    </div>

    <div class="col-4">
        <h2>Switches</h2>
        <img src="src/lutron.jpeg" alt="Lutron Switch" height="215" width="215">
        <h3>Lutron Caséta Wireless Smart Lighting Dimmer Switch Starter Kit</h3>
        <h4>$99.95</h4>
        <p>Caséta Wireless by Lutron provides easy and reliable control of your lights, shades, and temperature from the free Lutron app on your iPhone or iPad. This kit includes everything you need to get started for simple and personalized control of lighting throughout your home. Experience superior dimming performance of new LED bulbs, conveniently control lights with the touch of a button from your bedside or couch, schedule lights to automatically adjust, or even control lights and scenes with your voice via Siri.</p>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <h2>Thermostats</h2>
        <img src="src/ecobee.jpeg" alt="ecobee thermostat" height="215" width="215">
        <h3>ecobee3 lite Smart Thermostat</h3>
        <h4>$169.95</h4>
        <p>The ecobee3 lite smart thermostat and its companion app on your iPhone or iPad help you live better, while reducing your annual heating and cooling expenses. With its beautiful design, easy-to-use touchscreen display, and HomeKit compatibility, the ecobee3 lite helps make your home smarter and more comfortable without costing you or planet Earth.</p>
    </div>
</div>
